# Environments
.venv/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Others
__pycache__/
.vscode/
.DS_Store
.cache


# Data
data/america_data.csv
data/asia_data.csv
data/europe_data.csv
data/data_parquet/asia_data.parquet
data/data_parquet/europe_data.parquet
data/data_parquet/america_data.parquet
data/data_parquet/processed_data_combined.parquet
