airportsdata
appnope
asttokens
attrs
basemap
basemap-data
basemap-data-hires
branca
Cartopy
certifi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
et-xmlfile
executing
folium
fonttools
geopandas
h11
idna
ipykernel
ipython
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
numpy
openpyxl
outcome
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure-eval
pyarrow
Pygments
pyogrio
pyparsing
pyproj
pyshp
PySocks
python-dateutil
pytz
pyzmq
requests
seaborn
selenium
shapely
six
sniffio
sortedcontainers
stack-data
tornado
traitlets
trio
trio-websocket
typing_extensions
tzdata
urllib3
wcwidth
websocket-client
wsproto
xyzservices